<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <h1>Olá mundo, index 2</h1>
    <table class="table table-striped">
        <thead>
            <th>id</th>
            <th>id-caracteristica</th>
            <th>Nome</th>
            <th>preco</th>
            <th>preco desconto</th>
        </thead>
        <tbody>
            <% for(let i= 0; i < dados.length; i++){%>
                <tr>
                    <td><%= dados[i].id_jogo %> </td>
                    <td><%= dados[i].id_caract %> </td>
                    <td><%= dados[i].nome  %> </td>
                    <td><%= dados[i].preco %> </td>                    
                    <td><%= dados[i].preco_desconto %> </td>                    
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>